$b: '.header';

#{$b} {
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
	
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	
	&__title {
		float: left;
		
		border: none;
		
		color: #000;
		font-size: 1.75rem;
		font-weight: 700;
		font-family: $serif;
		text-decoration: none;
	}

	&__menu {
		float: right;
		
		margin-top: 7px;
	}
}