<!DOCTYPE html>
<html lang="ru">
{{template "head" .}}
<body class="page">
<div class="header wrapper page__header">
  <a href="/" class="header__title link">uReadability</a>
</div>

<div class="wrapper">
{{block "content" .}}{{end}}
</div>

{{template "footer"}}

</body>
</html>