.page {
	overflow-x: hidden;
	padding: 0 10px;
	
	font-family: "PT Sans", Arial, sans-serif;
	
	&__header {
		margin-bottom: 15px;
	}

	&__footer {
		margin-top: 40px;
	}

	&__rule {
		margin-bottom: 30px;
	}
}