@import '../common/__table-nostyle/common__table-nostyle';

$b: '.rules';

#{$b} {
	padding-top: 20px;
	
	&__table {
		@extend .common__table-nostyle;	
		
		max-width: 900px;
		margin: 0 auto;	
		
		table-layout: fixed;
		border-spacing: 10px 4px;
		
		@media (max-width: 850px) {
			max-width: none;
			
			table-layout: auto;
		}
		
		th { 
			text-align: left;
			padding-right: 20px;
		}

		td {
			padding-right: 20px;
		}
	}

	&__row {
		transition: all .5s;
		
		&_disabled {
			color: #999;
			
			transition: all 0ms;
			
			.link {
				color: #999;
				border-color: rgba(#999, .5);
				
				transition: all 0ms;
			}
		}
	}

	&__add {
		padding-top: 20px;
	}

	&__content-cell {
		font-size: 16px;
		font-family: monospace;
	}

	&__enabled-cell {
		text-align: center;
	}

	&__enabled {
		outline-style: none;
	}
}