@import '../common/__list-nostyle/common__list-nostyle';

$b: '.menu';

#{$b} {
	@extend .common__list-nostyle;	
	
	&__item {
		display: inline-block;
		margin-right: 15px;
		margin-top: 5px;
		
		&_right {
			float: right; 
			margin-right: 0;
			margin-left: 15px;
		}
	}
}